<link rel="stylesheet" href="/style/home.css">
<div class="bodyhome" id="contenerFormAndDone">
  <div class="divHome">
    {{#if nameUser}}
    <h1>{{nameUser}} Вы успешно зарегистрированны</h1>
    <h2><a href="singup">Войти в свой профиль</a></h2>
    {{/if}}
    <h1>Рассчитай свою вечеринку</h1>
    <div class="textHpme">
      <p>Этот сайт лучший помошник расчёта любого мероприятия. Всё очень просто. Вам нужно нажать на кнопку в правом
        верхнем углу "Создать мероприятия" и ввести имя участника, количество потраченных денег на мероприятия и валюту.
      </p>
    </div>
    <div class="imgHome">
      <img
        src="/img/p7.jpeg">
    </div>
    <h2>5 главных советов для лучшей вечеринки года</h2>
    <div class="textHpme">
      <p>Вы найдете здесь советы о том, как создать нужную атмосферу, правильно подать закуски, выбрать интересные игры
        и многое другое</p>
      <p>Вечеринки — неотъемлемая часть лета. Незабываемые впечатления от проведенного мероприятия обеспечат необычная
        подача напитков и блюд, а также декор помещения и различные развлечения для гостей. Однако, чтобы организовать
        действительно невероятную тусовку года, стоит уделить особое внимание организации и подготовке такого
        мероприятия. Неизменная ведущая шоу «В гостях у Джиады» пригласит своих близких и любимых друзей на лучшую
        вечеринку года, где покажет им и зрителям, как готовить невероятно вкусные коктейли и закуски, а также раскроет
        некоторые секреты гостеприимства. Именно для любителей зажигательных тусовок телеканал Fine Living представляет
        вам подборку интересных и необычных идей, которые помогут вам провести вечеринку на 5+.</p>
    </div>
    <h2>Создание атмосферы</h2>
    <div class="imgHome">
      <img src="/img/p1.jpeg">
    </div>
    <div class="textHpme">
      <p>Цель любой вечеринки — приятно и весело провести время, а также сделать так, чтобы все гости мечтали снова
        попасть на тусовку именно к вам!</p>
      <p>При организации важно с самого начала задать правильный тон предстоящему вечеру.</p>
      <p>Создание атмосферы несложное дело. Можно купить гелиевые шарики и развесить их под потолком так, чтобы вниз
        свисали разноцветные ленты. Для вечеринки в стиле диско можно повесить в главной комнате диско-шар. Если вы не
        хотите покупать его, то его можно смастерить и самому из папье-маше и старых CD-дисков. Подготовьте круглую
        форму в виде шара, порежьте диски на маленькие треугольные кусочки и приклейте их к шару горячим клеем. Такой
        вариант позволит вам проявить фантазию и показать всем свои таланты. Если же вы хотите устроить более спокойный
        вечер с душевными разговорами и теплой семейной атмосферой, то для этого подойдут большие свечи или бумажные
        фонарики, а также световые гирлянды. Такая расслабленная обстановка с приглушенным светом будет как нельзя лучше
        располагать ваших гостей к разговору.</p>
      <p>Помимо классических способов организовать вечеринку, вы можете устроить веселый тематический вечер. Необычные и
        забавные наряды, создание антуража и неординарные угощения — всё это поможет вам произвести впечатление на
        гостей и весело провести время. Например, вы можете надеть маски, парики и облачиться в различные костюмы. Если
        ваши гости — любители эпатажа и веселья, попросите их заранее подготовить костюмы и проведите конкурс на лучший
        образ!</p>
      <p>Не стоит забывать и о том, кого вы приглашаете на вечеринку. Порой приходится смешивать друзей из разных
        компаний, и неловкое молчание при разговоре создаст дискомфорт и напряженность между ними. Именно поэтому вам
        обязательно стоит обратить внимание на такие нюансы, чтобы впоследствии никто из гостей не чувствовал себя не в
        своей тарелке. В решении этого вопроса вам могут помочь забавные игры, где каждый гость сможет представиться,
        рассказать пару интересных фактов о себе, кроме того, вариант с игрой в пантомимы является отличным способом
        продемонстрировать свои актерские таланты. Для создания еще более непринужденной обстановки включите любимую
        музыку ваших друзей. Это поможет им расслабиться и почувствовать себя более раскованно.</p>
      <p>Кроме того, не стоит забывать и о себе. Очень часто многие допускают распространенную ошибку и начинают
        готовить сложные блюда, которые отнимают достаточно много времени. Поэтому лучше сосредоточиться на простых и
        изящных закусках, которые вы точно успеете подготовить к приходу гостей. А это значит, что у вас останется
        больше времени на создание своего образа для вечеринки и на общение и отдых с друзьями в дальнейшем.</p>
    </div>
    <h2>Подача коктейлей</h2>
    <div class="imgHome">
      <img src="/img/p2.jpg">
    </div>
    <div class="textHpme">
      <p>Большинство вечеринок не обходится без горячительных напитков! Обычными коктейлями, такими как мохито или
        кровавая мэри, давно никого не удивишь. Однако если ваши гости любят хорошо знакомую классику, то не стоит от
        них отказываться. В то же время вам стоит приготовить и какой-нибудь необычный вариант — например, алкогольные
        коктейли на молочной основе, с фруктами на ваш выбор. Добавьте все ингредиенты в блендер и перемешайте со льдом.
        Коктейль не только будет вкусным и освежающим, но и ваши гости наверняка оценят такое разнообразие по
        достоинству, а вы получите массу комплиментов за вкусный напиток. Также стоит обратить внимание и на подачу
        коктейлей, ведь ее можно сделать необычной, дав волю своей фантазии. Например, вы можете разрезать арбуз или
        ананас, перемешать в блендере мякоть и алкогольный напиток, добавить немного льда и сок лайма, и у вас получится
        освежающий коктейль по собственной рецептуре! Для любителей пикантных ноток также советуем поэкспериментировать
        с добавлением специй: корица, мускатный орех, палочка ванили и даже немного красного перца являются стандартными
        классическими специями, но при этом могут существенно преобразить вкус и добавить необходимый аромат напитку.
        Украсьте его миниатюрными зонтиками или просто яркими трубочками, чтобы напиток смотрелся более торжественно, и
        смело подавайте друзьям!</p>
      <p>Еще одна хитрость, с помощью которой можно преобразить любой коктейль, — это лед с добавками. Секрет прост:
        налейте в формочки для льда немного воды, выберите ваши любимые травы, например мяту или базилик, возьмите
        лепестки ароматных цветов — как нельзя кстати придутся розы или жасмин, — добавьте немного корицы или ванили и
        заморозьте всё вместе. Такой лед сделает из любого напитка настоящее лакомство, от которого ваши гости получат
        невероятное гастрономическое удовольствие!</p>
      <p>Другим интересным и популярным вариантом является желе на основе горячительных напитков. Готовится это угощение
        очень просто: возьмите желатин, разведите его в любимом напитке, добавьте ягоды и фрукты и поставьте на ночь в
        холодильник. Угощение готово! Такой десерт будет не только вкусным, но и станет вашим самым популярным рецептом.
      </p>
    </div>
    <h2>Подача закусок</h2>
    <div class="imgHome">
      <img src="/img/p3.jpg">
    </div>
    <div class="textHpme">
      <p>Вечеринка вечеринкой, а обед по расписанию! Как уже было сказано, при проведении такого рода мероприятия не
        стоит выбирать в качестве закусок сложные блюда. Мало кто из хозяев тусовки хочет весь вечер провести на кухне,
        готовя какие-либо изыски. Именно поэтому стоит обратить внимание на легкие овощные закуски, канапе, фруктовую
        тарелку, а также сыр и орехи. Такие продукты идеально сочетаются с горячительными напитками, но при этом
        оставляют чувство легкости. Мы советуем вам не изобретать новые и сложные блюда, а сконцентрироваться на их
        подаче.</p>
      <p>Самый удобный способ организовать стол — это сделать его фуршетным. Во время вечеринки гости будут активно
        проводить время — танцевать, общаться между собой и играть в различные игры. Таким образом, с помощью фуршетного
        стола вы освободите место для развлечений, и закуски в виде канапе придутся очень кстати, потому как их легко
        готовить и удобно есть. Кроме того, вы можете сделать угощения с различными начинками, что позволит вам
        удовлетворить гастрономические предпочтения каждого из своих друзей.</p>
      <p>Помимо канапе, вы можете приготовить мини-роллы из лаваша с зеленью и сыром, небольшие рулетики из запечённого
        баклажана с орехами или тарталетки с начинкой из любимых салатов. Самое главное правило, которого стоит
        придерживаться, — это небольшой размер порций. Гости по праву оценят такую подачу, так как это не доставит
        лишних неудобств, а значит, даст простор для веселья. Если же ваши друзья сладкоежки, то оригинальным выходом
        для вас станут вафельные рожки, наполненные вкусным кремом собственного приготовления и посыпанные различными
        топпингами, будь то кокосовая или шоколадная стружка или же свежие ягоды и фрукты. Кроме того, беспроигрышным
        вариантом являются фрукты на шпажке. Нарежьте фрукты на небольшие кусочки, проткните деревянной палочкой,
        окуните в расплавленный шоколад и поставьте в холодильник, пока шоколад не застынет. Поставьте готовые
        шоколадные фрукты в вазу и украсьте их коктейльными зонтиками, получится всё просто и со вкусом!</p>
    </div>
    <h2>Развлечения и игры</h2>
    <div class="imgHome">
      <img src="/img/p4.jpg">
    </div>
    <div class="textHpme">
      <p>Все мы в душе дети и любим посмеяться от души. Если у вас намечается грандиозная вечеринка на даче, то стоит
        обратить внимание на активные игры на участке! Лето — жаркое время года, и водные игры во время вечеринки самое
        лучшее, что можно придумать. Война шариками с водой, водные пистолеты, самодельные мыльные дорожки — всё это
        поможет вам весело провести время. Главное, не забудьте предупредить своих друзей захватить купальники!</p>
      <p>Кроме того, существует невероятное количество развлечений, в которые можно играть где угодно, будь то
        загородный дом или квартира. Этот способ поможет гостям раскрепоститься и посмеяться от души. Главное, выбирайте
        подвижные игры с большим количеством действий. Ну и конечно же, на помощь всегда придут настольные игры!
        Например, такие игры, как «Монополия» и «Клудо», способны не просто заинтересовать присутствующих, но и вызвать
        ажиотаж и азарт у игроков. Усовершенствуйте игры и добавьте в них штрафы и правила на горячительные напитки,
        например если вам выпадает дубль на кубиках, то нужно выпить. Ну и само собой, одна из самых популярных и
        захватывающих игр — покер. Это игра, только ради которой и можно устраивать не просто обычную вечеринку, но и
        тусовку в стиле Лас-Вегас. Такой подход развеселит ваших гостей, а также придаст атмосферу соревнований. Также
        есть прекрасная игра «персонаж», во время которой участники загадывают друг другу известных личностей и
        персонажей, а потом с помощью вопросов пытаются отгадать их. Она обеспечит вашим гостям не только веселье, но и
        поможет им поближе познакомиться между собой и даже узнать что-то новое.</p>
      <p>И напоследок не забудьте о фотографиях, которые будут напоминать вам о веселом вечере, который обязательно
        захочется повторить. Идеальным вариантом станет использование полароида во время вечеринки. Фотографии можно
        раздать гостям после окончания вечера на память. Воспользуйтесь фотоатрибутикой, когда будете позировать перед
        полароидом, например картонные усы, шляпы, губы, короны и так далее, — всё это сделает ваши фотографии забавными
        и запоминающимися. Вы, ваши друзья и близкие будут вспоминать еще долгое время вашу незабываемую и веселую
        вечеринку, глядя на памятные фотографии.</p>
    </div>
  </div>
</div>
