<div class="contenerFormAndDone" id="contenerFormAndDone">
  <div id="patyForm">
    <h1>Создать мероприятие</h1>
    <p></p>
    <div class="forma">
      <form id="addUserParty">
        <input class="inputName" name="name" type="text" placeholder="Имя участника">
        <input class="inputPrice" name="price" id="price" type="number" value="0">
        <select class="inputCur" id="selectForm" name="currency">
          <option>RUB</option>
          <option>EUR</option>
          <option>USD</option>
          <option>THB</option>
          <option>AUD</option>
          <option>ISK</option>
          <option>DKK</option>
          <option>MYR</option>
        </select>
        <button class="buttonResult" type="submit">Добавь участника</button>
      </form>
    </div>
    <div id="result">

    </div>
    <button class="buttonResult">Создать</button>
  </div>

</div>
{{!-- pattern="^[А-Яа-яЁёa-zA-Z]+$"  --}}
